@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *,
  *::after,
  *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    /**/
    -webkit-box-sizing: border-box;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
  }

  .dragable{
    -webkit-app-region: drag;
  }

  .non-dragable{
    -webkit-app-region: non-drag;
  }

  .app {
    @apply relative flex flex-col w-full h-screen overflow-hidden border-0 bg-gray-100;
  }
  
  .app-header {
    @apply bg-gray-200 p-2 flex justify-between w-full h-10 z-0;
  }

  .app-container{
    @apply relative flex justify-center items-center p-4 h-screen;
  }
}
